package views

/*
 * Template que se utiliza para mostrar la página de error 500.
 */
templ Error500Page() {
	@Layout("Error 500") {
		<div class="home">
			<div class="card">
				<h2 class="title-error">Error 500</h2>
				<p>Error interno del servidor</p>
			</div>
		</div>
	}
}