<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>¡Bienvenido Joven Peliculero!</h1>
        <p>
            Esta página Web tiene una lista de películas para que los usuarios
            rankeen y den sus opiniones. También pueden filtrar por catálogo ver
            el portal de comentarios para conocer las opiniones más relevantes del
            resto de usuarios. Se puede consultar, además, la información de las
            películas que desee.
        </p>
    </div>
</body>
</html>